body{
    margin-top: 0;
}
/* 顶部导航栏 */
.nav{
    font-size: 40px;
    font-weight: 500;
    color: white;
    background-color: rgb(60, 60, 60);
    padding: 0px 200px;
}

/* 导航栏里面的@后面的字 */
.nav-author{
    font-size: 10px;
}
/* Janco 超链接 */
a{
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
/* 登录div */
.login{
    border: solid rgb(175, 165, 165) 0.7px ;
    border-radius: 15px;
    padding: 30px 60px;
    width: 330px;
    height: 350px;
    margin: auto;
    margin-top: 150px;
    background-color: white;
}
/* 登录界面的登录字体 */
.login-text{
    font-size: 30px;
    margin: 10px auto;
}
/* 登录item，也就是用户名和密码条 */
.login-item{
    margin: 25px auto;
    font-size: large;
    border-radius: 5px;
    height: 35px;
    width: 300px;
}
/* 登录按钮 */
#submit{
    background-color:rgb(66, 139, 202);
    border: blue;
    color: white;
}
/* 划过登录按钮的效果 */
#submit:hover{
    background-color: #3071a9;
}
