/* 清除浏览器默认样式 */
*{
    margin:0;
    padding:0;
}

/* 全局的a标签的初始状态 */
a:link, a:visited, a:hover, a:active{
    color: black;
    text-decoration: none;
}

/* 清除元素的浮动
.write-blog::before, .write-blog::after{
	content: "";
	clear: all;
	display: table;
} */

/* 导航条 */
.nav{
    background-color: #2f2e34;
    color: white;
    font-size: 40px;
    padding: 5px 200px;

}
.nav a:link, .nav a:visited{
    color: white;
}

/* 标题 */
h1{
    padding: 15px 200px;
    margin: 20px;
    font-size: 50px;
    text-align: center;
}

/* 设置主体离两边的长度 */
.main{
    padding: 15px 200px;
    margin: 10px;
}

/* 功能列表的列表 */
.function-list{
    display: inline-block;
}

.operate-list{
    list-style-type: none;
}

.operate-list a{
    width: 120px;
    display: inline-block;
    padding: 15px 20px;
    border: #a39c9c solid 1px;
    text-align: center;
}

.operate-list a:hover{
    background-color: rgba(111, 128, 128, 0.418);
}

.operate-list a:active{
    background-color: rgba(86, 95, 95, 0.418);
}

/* 功能实现 */

.write-blog, .manage-articles, .statastic{
	display: none;
	border: black solid 1px;
}


/* 写博文功能实现 */

.write-blog{
	display: inline-block;
	height: 500px;
	width: 800px;
}