<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jancoyan.jancoblog.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jancoyan.jancoblog.pojo.Comment">
        <id column="comment_id" property="commentId" />
        <result column="pre_comment_id" property="preCommentId" />
        <result column="comment_article_id" property="commentArticleId" />
        <result column="comment_author_id" property="commentAuthorId" />
        <result column="comment_author_name" property="commentAuthorName" />
        <result column="comment_author_email" property="commentAuthorEmail" />
        <result column="comment_content" property="commentContent" />
        <result column="comment_date" property="commentDate" />
        <result column="comment_author_ip" property="commentAuthorIp" />
        <result column="comment_like_count" property="commentLikeCount" />
        <result column="article_title" property="articleTitle" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, pre_comment_id, comment_article_id, comment_author_id, comment_author_name, comment_author_email, comment_content, comment_date, comment_author_ip, comment_like_count
    </sql>

    <update id="recoverComment">
        CALL proc_recover_comment(${commentId});
    </update>
    <delete id="deleteComment">
        CALL proc_transfer_comment(${commentId});
    </delete>

    <select id="getAll" resultType="com.jancoyan.jancoblog.pojo.Comment">
        select * from v_comment_manage_list ${ew.customSqlSegment}
    </select>

    <select id="getCommentByArticle" resultType="com.jancoyan.jancoblog.pojo.Comment">
        select * from v_comment_article ${ew.customSqlSegment}
    </select>

    <select id="getCommentByUserPosted" resultType="com.jancoyan.jancoblog.pojo.Comment">
        select * from v_comment_manage_list ${ew.customSqlSegment}
    </select>


    <!-- 通用查询映射结果 -->
    <resultMap id="PageComment" type="com.jancoyan.jancoblog.pojo.PageComment">
        <result column="comment_author_name" property="commentAuthorName" />
        <result column="article_id" property="articleId" />
        <result column="article_author" property="articleAuthor" />
        <result column="article_title" property="articleTitle" />
        <result column="comment_date" property="commentDate" />
    </resultMap>

    <sql id="Page_Comment">
        comment_author_name, article_id, article_author, article_title, comment_date
    </sql>

    <select id="getCommentByUserRecently"
            resultType="com.jancoyan.jancoblog.pojo.PageComment">
        select <include refid="Page_Comment" />
            from v_page_comment ${ew.customSqlSegment}
    </select>


</mapper>
