<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jancoyan.jancoblog.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jancoyan.jancoblog.pojo.Comment">
        <id column="comment_id" property="commentId" />
        <result column="pre_comment_id" property="preCommentId" />
        <result column="comment_article_id" property="commentArticleId" />
        <result column="comment_author_id" property="commentAuthorId" />
        <result column="comment_author_name" property="commentAuthorName" />
        <result column="comment_author_email" property="commentAuthorEmail" />
        <result column="comment_content" property="commentContent" />
        <result column="comment_date" property="commentDate" />
        <result column="comment_author_ip" property="commentAuthorIp" />
        <result column="comment_like_count" property="commentLikeCount" />
        <result column="article_title" property="articleTitle" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, pre_comment_id, comment_article_id, comment_author_id, comment_author_name, comment_author_email, comment_content, comment_date, comment_author_ip, comment_like_count
    </sql>

    <select id="getAll" resultType="com.jancoyan.jancoblog.pojo.Comment">
        select * from v_comment_manage_list ${ew.customSqlSegment}
    </select>
    <select id="getCommentByArticle" resultType="com.jancoyan.jancoblog.pojo.Comment">
        select * from v_comment_article ${ew.customSqlSegment}
    </select>
</mapper>
