<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jancoyan.jancoblog.mapper.LikeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jancoyan.jancoblog.pojo.LikeRecord">
        <id column="like_id" property="likeId" />
        <result column="article_id" property="articleId" />
        <result column="author_id" property="authorId" />
        <result column="like_date" property="likeDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        like_id, article_id, author_id, like_date
    </sql>
    <select id="getUserReceive" resultType="com.jancoyan.jancoblog.pojo.LikeRecord">
        select *
        from tbl_like_record where article_id in (
            select article_id from tbl_article where article_author = ${userId}
        ) ${ew.customSqlSegment}
    </select>

</mapper>
