<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jancoyan.jancoblog.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jancoyan.jancoblog.pojo.User">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="user_email" property="userEmail" />
        <result column="user_sex" property="userSex" />
        <result column="user_role" property="userRole" />
        <result column="user_create_date" property="userCreateDate" />
        <result column="user_last_login_date" property="userLastLoginDate" />
        <result column="user_ip" property="userIp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, user_password, user_email, user_sex, user_role, user_create_date, user_last_login_date, user_ip
    </sql>
    <select id="getAll" resultType="com.jancoyan.jancoblog.pojo.User">
        select * from v_user_manage_show ${ew.customSqlSegment}
    </select>

</mapper>