@charset "UTF-8";
* {
  /* 设置网页的字体的基调 */
  font-family: '等线', sans-serif;
  /* 设置所有元素的边距归零 */
  margin: 0;
  padding: 0;
  /* 设置所有盒子的展示样式 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline和border都是把所有元素的轮廓取消 */
  outline: none;
  border: none;
  /* 字体样式 */
  text-decoration: none;
  /* 设置所有的变化都是线性的持续0.2秒的 */
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

:root {
  --primary-color: #ff434f;
  --secondary-color: #e3e3e3;
  --text-color-lightest: #e7e7ec;
  --text-color-darker: #2e2e2e;
  --text-color-dark: #494949;
  --text-color-gray: #8b8b8b;
  --text-color-dark-gary: #727277;
  --text-color-light-gary: #c6c6c6;
  --backdrop-color: rgba(42, 42, 42, 0.69);
}

header {
  width: 100vw;
  height: 80px;
  display: -ms-grid;
  display: grid;
  padding: 0 40px;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 200;
}

header nav {
  -ms-grid-column-align: end;
      justify-self: end;
}

header nav input {
  padding: 10px 20px;
  border-radius: 40px;
  height: 30px;
  line-height: 40px;
  font-size: 16px;
  border: 1px solid #b2bec3;
}

header nav input:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

header .burger {
  display: none;
}

header.sticky {
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  -webkit-animation: dropDown 0.5s ease-in-out forwards;
          animation: dropDown 0.5s ease-in-out forwards;
}

header.sticky .logo, header.sticky nav a, header.sticky nav i {
  color: #2e2e2e;
}

header.sticky .burger-line1, header.sticky .burger-line2, header.sticky .burger-line3 {
  background-color: #2e2e2e;
}

header .logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-dark);
}

@-webkit-keyframes dropDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  margin: auto 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  padding: 20px 30px;
}

.posts .post .image {
  width: 130px;
}

.posts .post .image img {
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.posts .post .post-info {
  margin-left: 20px;
  cursor: pointer;
}

.posts .post .post-info .post-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts .post .post-info .post-title .article-title {
  font-size: 1.3em;
}

.posts .post .post-info .post-title .post-date {
  color: #b2bec3;
}

.posts .post:hover .post-title {
  color: #eb4d4b;
}

.posts .segment-line {
  height: 1px;
  width: 30%;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

footer .scrollToTop a {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 50;
}

@media (max-width: 1200px) {
  section {
    margin: auto 0;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 550px) {
  section {
    margin: auto 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=index.css.map */