*{
  /* 设置网页的字体的基调 */
  font-family: '等线', sans-serif;
  /* 设置所有元素的边距归零 */
  margin: 0;padding:0;
  /* 设置所有盒子的展示样式 */
  box-sizing: border-box;
  /* outline和border都是把所有元素的轮廓取消 */
  outline: none; border: none;
  /* 字体样式 */
  text-decoration: none;
  /* 设置所有的变化都是线性的持续0.2秒的 */
  transition: all .2s linear;
}

html{
  scroll-behavior: smooth;
}

img{
  width: 100%;
}

:root{
  --primary-color: #ff434f;
  --secondary-color: #e3e3e3;
  --text-color-lightest: #e7e7ec;
  --text-color-darker: #2e2e2e;
  --text-color-dark: #494949;
  --text-color-gray: #8b8b8b;
  --text-color-dark-gary: #727277;
  --text-color-light-gary: #c6c6c6;
  --backdrop-color: rgba(42, 42, 42, 0.69);
}

header{
  width: 100vw; height: 80px;
  display: grid;
  padding: 0 40px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  position: relative;
  z-index: 200;

  nav{
    justify-self: end;

    input{
      padding: 10px 20px;
      border-radius: 40px;
      height: 30px;
      line-height: 40px;
      font-size: 16px;
      border: 1px solid #b2bec3;

      &:focus{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      }
    }
    
  }

  .burger{
    display: none;
  }

  &.sticky{
    position: fixed;
    background-color: white;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    animation: dropDown 0.5s ease-in-out forwards;

    .logo, nav a, nav i{
      color: #2e2e2e;
    }

    .burger-line1, .burger-line2, .burger-line3{
      background-color: #2e2e2e;
    }
  }

  .logo{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-dark);
  }

}

@keyframes dropDown {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0);
  }
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  margin: auto 0;
  width: 50%;
  display: flex;
}

.posts{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .post{ 
    display: flex;
    position: relative;
    justify-content: space-around;
    background-color: white;
    padding: 20px 30px;

    .image{
      width: 130px;
      img{
        overflow: hidden;
        object-fit: contain;
      }
    }
  
    .post-info{

      margin-left: 20px;
      cursor: pointer;

      .post-title{
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
        .article-title{
          font-size: 1.3em;
        }

        .post-date{
          color: #b2bec3;

        }

      }
      
    }


    &:hover{
      .post-title{
        color: #eb4d4b;
      }
    }

  }  
 
  .segment-line{
    height: 1px;
    width: 30%;
    margin: 20px 0;
    background-color: rgba(0,0,0,0.1)

  }

}


body{

  // background-color: rgb(230, 174, 174);
}



footer{


  .scrollToTop{


    a{
      width: 32px;
      height: 32px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--primary-color);
      color: white;
      text-decoration: none;
      position: fixed;
      right: 20px;  bottom: 20px;
      z-index: 50;
    }

  }
}


@media (max-width:1200px){
  
  section{
    margin: auto 0;
    width: 70%;
    display: flex;
  }
  

}


@media (max-width:550px){
  section{
    margin: auto 0;
    width: 100%;
    display: flex;
  }




  
}