/* 清除浏览器默认样式 */
*{
    margin:0;
    padding:0;
}

/* 全局的a */
a{
    text-decoration: none;
}

html{
    min-height: 100%;
}

/* body */
body{
    /* 最上面的小白条 */
    margin-top: 0px;
    background-color: #eff3f5;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

/* 导航栏 */
#user-profile{
    float: right;
}

#top-nav-bar{
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    box-shadow: 0px 5px 5px rgba(136, 136, 136, 0.2);
}

#top-nav-bar>li>a{
    color: #000000;
}

/* 欢迎初始页面 */

.segment-line{
    height: 1px;
    width: 100%;
    background-color: #f6f6f6;
}

.layui-card:hover{
    box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.2);
}

.article-info{
    text-align: center;
    font-size: 12px;
}
.article-info span{
    margin-right: 20px;
}
.article-info div{
    display: inline-block;
    margin-left: 15px;
}


#right{
    margin-top: 30px;
}

/*文章分类*/

.column{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    z-index: 1;
    position: fixed;
    width: 15%;
}

.column h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.column>ul{
    margin-top: 10px;
    font-size: 16px;
}

.column>ul>li{
    height: 30px;
    line-height: 30px;
}

.column>ul>li:hover{
    background-color: #eff3f5;
    font-weight: bold;
    color: black;
}


/* 页脚的内容 */

.container{
    margin: 0px 20%;
}

.footer{
    border-top: #bfc2c4 1px solid;
    height: 60px;
    background-color: white;
}

.footer a{
    line-height: 60px;
    color: black;
    float: right;
}
