/* 清除浏览器默认样式 */
*{
    margin:0;
    padding:0;
}

/* 全局的a */
a{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
}

/* body */
body{
    /* 最上面的小白条 */
    margin-top: 0px;
    background-color: rgba(240, 240, 240, 0.76);
}


/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}


/* 全局ul的标识符 */
ul{
    list-style-type: none;
}

/* 导航条 */
.nav{
    background-color: #2f2e34;
    color: white;
    font-size: 40px;
    padding: 5px 200px;

}
.nav a:link, .nav a:visited{
    color: white;
}

/* 导航栏上的登录和注册 */
.signin{
    display: inline;
    float: right;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    margin: 10px auto;
}


.main{
    padding: 3% 10%;
}


/* 标题就叫Jancoyan吧 */
h1{
    text-align: center;
    font-size: 50px;
}

/* 我的座右铭 */
.quote{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(114, 104, 104);
}

/* 文章分类导航 */
.types{
    list-style-type: none;
    background-color: #333;
    color: honeydew;
    overflow: hidden;
}

.types>li{
    float: left;
}

/* 每一个分类项目 */
.types li>a{
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 14px 15px;
}

/* 下拉菜单, 鼠标没有hover到a标签的时候是不显示的 */
.drop-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 下拉菜单的选项 */
.drop-content>a{
    color: black;
    padding: 13px 15px;
    text-decoration: none;
    display: block;
}

/* 鼠标滑过菜单选项的时候改变背景颜色 */
.drop-content a:hover{
    background-color: thistle;
}

/* 鼠标滑过 .drop-content 的时候将它显示出来*/
.drop-down:hover .drop-content{
    display: block;
}

/* 搜索框 */
.search{
    float: right;
    display: inline;
    color: white;
    margin: 8px 14px;
}

/* 搜索文本框 */
#search-text{
    height: 30px;
    width: 280px;
}

/* 搜索按钮 */
#search-btn{
    height: 30px;
    width: 50px;
}

/* 左侧边栏 */


.side-nav-bar{
    border-radius: 10px;
    position: fixed;
    margin-top: 50px;
    margin-left: 0;
    width: 13%;
    /* height: 600px; */
    background-color: #2a2932;
    float: left;
}

.nav-bar-title{
    height: 50px;
    width: 100%;
}

.nav-bar-title>a{
    /* 内联元素没有宽高, 所以要设置为块状元素 */
    display: block;
    width: 100%;
    height: 50%;
    /* 设置行高, 垂直居中 */
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* 分割线 */
.segment-line{
    height: 1px;
    width: 100%;
    background-color: #eeedcf;
}

/* 主标题 */
.nav-title{
    height: 40px;
    width: 100%;
    color: white;
    line-height: 40px;
    text-align: center;
    /* 当鼠标放上去的时候显示手形状 */
    cursor: pointer;
}

/* 子标题 */
.nav-content{
    width: 100%;
    height: 100%;
    background-color: #3F3F3F;
}

.nav-content>a{
    display: block;
    height: 30px;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.nav-content>a:hover{
    color: #ffffff;
    background-color: #12040C;
}

/* 右区域 */

.article-sort-list{
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 50px;
    float: left;
}

/* 文章盒子 */

.article-box{
    height: 150px;
    width: 90%;
    margin: 15px 0;
    padding: 15px 20px;
    border: #b5b5b5 solid 1px;
    border-radius: 5px;
    background-color: white;
}

/* 文章标题 */

.article-box>a{
    display: block;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.article-box>a:hover{
    color: #00d664;
    text-decoration: underline;
}

/* 摘要 */
.article-box>.article-abstract{
    padding: 5px;
    height: 80px;
}

/* 文章信息 */
.article-box>.article-info>div{
    display: inline-block;
    float: right;
    margin-left: 15px;
    font-size: 13px;
    color: gray;
}


.left-content{
    float: left;
    width: 70%;
}

.right-content{
    float: right;
    width: 30%;
}

.left-content>ul{
    display: inline;
}



/* 文章热榜 */

.article-rank-list{
    float: left;
    margin: 20px 20px;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    border: gray solid 1px;
}
.article-rank-title{
    font-size: 18px;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 5px;
}
.hot-article{
    height: 35px;
    width: 100%;
    padding-left: 5px;
    line-height: 35px;
}
.hot-order{
    width: 5%;
    float: left;
    margin-right: 5px;
    margin-left: 5x;
}
.hot-article>a{
    display: block;
    float: left;
    width: 80%;
    margin-left: 5px;
}
.hot-article>a:hover{
    color: #4df328;
    text-decoration: underline;
}
.hot-article-views{
    float: right;
    padding-right: 15px;
}

.search-title{
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
}