/* 清除浏览器默认样式 */
*{
    margin:0;
    padding:0;
}

/* 全局的a */
a{
    text-decoration: none;
}

/* body */
body{
    /* 最上面的小白条 */
    margin-top: 0px;
    background-color: rgba(240, 240, 240, 0.76);
}

/* 导航条 */
.nav{
    background-color: #2f2e34;
    color: white;
    font-size: 40px;
    padding: 5px 200px;

}
.nav a:link, .nav a:visited{
    color: white;
}

/* 导航栏上的登录和注册 */
.signin{
    display: inline;
    float: right;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    margin: 10px auto;
}

/* 主体 */
.main{
    padding: 20px 175px;
}

/* 标题就叫Jancoyan吧 */
h1{
    text-align: center;
    font-size: 50px;
}

/* 我的座右铭 */
.quote{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(114, 104, 104);
}

/* 文章分类导航 */
.types{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: honeydew;
    overflow: hidden;
}

li{
    float: left;
}

/* 每一个分类项目 */
.types li>a{
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 14px 15px;
}

/* 下拉菜单, 鼠标没有hover到a标签的时候是不显示的 */
.drop-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 下拉菜单的选项 */
.drop-content>a{
    color: black;
    padding: 13px 15px;
    text-decoration: none;
    display: block;
}

/* 鼠标滑过菜单选项的时候改变背景颜色 */
.drop-content a:hover{
    background-color: thistle;
}

/* 鼠标滑过 .drop-content 的时候将它显示出来*/
.drop-down:hover .drop-content{
    display: block;
}

/* 搜索框 */
.search{
    float: right;
    display: inline;
    color: white;
    margin: 8px 14px;
}

/* 搜索文本框 */
.search-text{
    height: 30px;
    width: 280px;
}

/* 搜索按钮 */
.search-btn{
    height: 30px;
    width: 50px;
}

/* 文章列表 */
.articles>ul{
    list-style-type: none;
}

/* 文章信息块的大小 */
.article-list{
    margin: 10px 120px;
}

/* 文章列表 */
.article{
    /* border-radius: 5px; */
    border-bottom: solid 1px #978f8f;
    /* border-top: solid 1px #c3bbbb; */
    padding: 20px 25px;
}

/* 左半边-图片 */
.image{
    float: left;
    margin-right: 30px;
}

/* 右半边-信息摘要 */
.article-box{
    overflow: hidden;
}

/* 文章信息的标题 */
.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 搜索结果的标题 */
.search-title{
	font-size: 30px;
	font-weight: 500;
	margin: 50px 20px;
}



/* 标题的a标签 */
.title>a{
    color: black;
}

.title>a:hover{
    color: rgb(71, 224, 186);
    text-decoration: underline;
}

/* 文章信息的摘要 */
.discription{
    font-size: 18px;
    color: gray;
    margin-bottom: 5px;
}

/* 文章信息-发布时间 */
.datetime{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

/* 加载更多 */
.load-more{
    padding-top: 20px;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    color: gray;
}

/* 页脚 */
.footer{
    padding: 20px 175px;
    background-color: #2f2e34;
    overflow: hidden;
}

.footer>ul{
    float: right;
    list-style-type: none;
    font-size: 15px;
    color: white;
}

.footer ul li a:visited,footer ul li a:link{
    color: white;
    float: right;
}

/* 悬浮到字上 */
.footer ul li a:hover{
    color: burlywood;
}
