/* 清除浏览器默认样式 */
*{
    margin:0;
    padding:0;
}

/* 全局的a */
a{
    text-decoration: none;
}

a:visited{
    color: black;
}

.main{
    width: 100%;
    height: 100%;
}

/* 全局ul的标识符 */
ul{
    list-style-type: none;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

/* 导航条 */
.nav{
    background-color: #2f2e34;
    color: white;
    font-size: 40px;
    padding: 5px 200px;

}
.nav a:link, .nav a:visited{
    color: white;
}


/* 左侧边栏 */
.side-nav-bar{
    border-radius: 10px;
    position: fixed;
    margin-top: 50px;
    margin-left: 10%;
    width: 13%;
    /* height: 600px; */
    background-color: #2a2932;
    float: left;
}

.nav-bar-title{
    height: 50px;
    width: 100%;
}

.nav-bar-title>a{
    /* 内联元素没有宽高, 所以要设置为块状元素 */
    display: block;
    width: 100%;
    height: 50%;
    /* 设置行高, 垂直居中 */
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* 分割线 */
.segment-line{
    height: 1px;
    width: 100%;
    background-color: #eeedcf;
}

/* 主标题 */
.nav-title{
    height: 40px;
    width: 100%;
    color: white;
    line-height: 40px;
    text-align: center;
    /* 当鼠标放上去的时候显示手形状 */
    cursor: pointer;
}

/* 子标题 */
.nav-content{
    width: 100%;
    height: 100%;
    background-color: #3F3F3F;
}

.nav-content>a{
    display: block;
    height: 30px;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.nav-content>a:hover{
    color: #ffffff;
    background-color: #12040C;
}


/* 右区域 */

.article-sort-list{
    width: 60%;
    height: 100%;
    float: left;
    margin-left: 30%;
    margin-top: 50px;
}

/* 文章盒子 */

.article-box{
    height: 150px;
    width: 70%;
    padding: 10px 20px;
    border: #b5b5b5 solid 1px;
    border-radius: 5px;
    background-color: white;
    margin: 10px 0;
}

/* 文章标题 */

.article-box>a{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.article-box>a:hover{
    color: #00d664;
    text-decoration: underline;
}

/* 摘要 */
.article-box>.article-abstract{
    padding: 5px;
    height: 80px;
}

/* 文章信息 */
.article-box>.article-info>div{
    display: inline-block;
    float: right;
    margin-left: 15px;
    font-size: 13px;
    color: gray;
}