<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/lib/editor.md/editormd.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/editor.md/css/editormd.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/article.css}">
    <title>title</title>
</head>
<body>
<!--导航栏-->
<nav class="clearfix">
    <ul id="top-nav-bar" class="layui-nav layui-bg-black" layui-filter="top-nav">
        <li class="layui-nav-item"><a href="">首页</a></li>
        <li class="layui-nav-item"><a href="javascript:;">AI</a><dl class="layui-nav-child"><dd><a target="_blank" href="sortlist.jsp?type=201">图像识别</a></dd></dl></li>
        <li class="layui-nav-item"><a target="_blank" href="javascript:;">计算机基础<i
                class="layui-icon layui-icon-down layui-nav-more"></i></a><dl class="layui-nav-child"><dd><a target="_blank" href="sortlist.jsp?type=101">数据结构与算法</a></dd><dd><a target="_blank" href="sortlist.jsp?type=102">计算机网络</a></dd><dd><a target="_blank" href="sortlist.jsp?type=103">计算机组成原理</a></dd><dd><a target="_blank" href="sortlist.jsp?type=104">操作系统</a></dd></dl></li>
        <li class="layui-nav-item"><a target="_blank" href="javascript:;">前端<i
                class="layui-icon layui-icon-down layui-nav-more"></i></a><dl class="layui-nav-child"><dd><a target="_blank" href="sortlist.jsp?type=301">HTML</a></dd><dd><a target="_blank" href="sortlist.jsp?type=302">CSS</a></dd><dd><a target="_blank" href="sortlist.jsp?type=303">JavaScript</a></dd><dd><a target="_blank" href="sortlist.jsp?type=304">JQuery</a></dd><dd><a target="_blank" href="sortlist.jsp?type=305">Ajax</a></dd><dd><a target="_blank" href="sortlist.jsp?type=306">Java图形界面</a></dd></dl></li>
        <li class="layui-nav-item"><a target="_blank" href="javascript:;">Java后端<i
                class="layui-icon layui-icon-down layui-nav-more"></i></a><dl class="layui-nav-child"><dd><a target="_blank" href="sortlist.jsp?type=401">Spring</a></dd><dd><a target="_blank" href="sortlist.jsp?type=402">SpringMVC</a></dd><dd><a target="_blank" href="sortlist.jsp?type=403">MyBatis</a></dd><dd><a target="_blank" href="sortlist.jsp?type=404">JDBC</a></dd><dd><a target="_blank" href="sortlist.jsp?type=406">SSM整合</a></dd></dl></li>
        <li class="layui-nav-item"><a target="_blank" href="javascript:;">Python<i
                class="layui-icon layui-icon-down layui-nav-more"></i></a><dl class="layui-nav-child"><dd><a target="_blank" href="sortlist.jsp?type=501">Python基础知识</a></dd><dd><a target="_blank" href="sortlist.jsp?type=502">PythonWeb</a></dd><dd><a target="_blank" href="sortlist.jsp?type=503">PyQt</a></dd></dl></li>
        <li class="layui-nav-item"><a target="_blank" href="javascript:;">数据库<i
                class="layui-icon layui-icon-down layui-nav-more"></i></a><dl class="layui-nav-child"><dd><a target="_blank" href="sortlist.jsp?type=601">MySQL</a></dd></dl></li>
        <li class="layui-nav-item"><a target="_blank" href="javascript:;">大数据<i
                class="layui-icon layui-icon-down layui-nav-more"></i></a><dl class="layui-nav-child"><dd><a target="_blank" href="sortlist.jsp?type=701">HDFS</a></dd></dl></li>
        <li id="user-profile-picture" class="layui-nav-item" lay-unselect="">
            <a
                    th:href="@{/workbench}"><img th:src="@{images/login-profile.png}"
                                                 class="layui-nav-img"></a>
            <dl class="layui-nav-child"><dd><a href="javascript:;">写博客</a></dd><dd><a
                    href="">后台管理</a></dd><hr><dd style="text-align: center;"><a href="">退出</a></dd></dl>
        </li>
    </ul>
</nav>

<div class="layui-bg-gray" style="padding: 30px;">
    <div class="layui-row layui-col-space15" style="margin-top: 4%;">
        <div class="layui-col-md8" style="margin-left: 15%">
            <div class="layui-panel" id="article-title"><h1 style="font-size: 55px;"></h1></div>
        </div>
        <div class="layui-col-md8" style="margin-left: 15%">
            <div class="layui-panel" id="article-info" style="font-size: 15px;">
                <span id="article-author"><i class="iconfont">&#xe6b8;</i> </span>
                <span id="article-post-date"><i class="iconfont">&#xe6bb;</i> </span>
                <span id="article-view-count"><i class="iconfont">&#xe6e6;</i> </span>
                <span id="article-like-count"><i class="iconfont">&#xe717;</i> </span>
                <span id="article-comment-count"><i class="iconfont">&#xe69b;</i> </span>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8" style="margin-left: 15%">
            <div class="layui-panel" id="article-body">
            </div>
        </div>
    </div>

</div>


<script>

    // 拿到文章内容
    $.ajax({
        url: "/content/" + '[[${#request.getParameter("p")}]]',
        type: "GET",
        success: function (result) {
            article = result.extend.article
            $("#article-body").append(result.extend.content)
            $("title").text(article.articleTitle)
            $("#article-title>h1").text(article.articleTitle)
            $("#article-author").append(article.articleAuthorName);
            $("#article-post-date").append(article.articlePostTime.substr(0, 10))
            $("#article-view-count").append(article.articleViewCount)
            $("#article-like-count").append(article.articleLikeCount)
            $("#article-comment-count").append(article.articleCommentCount)
        }
    })



</script>
</body>
</html>