*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background-color: white;
}


/*导航栏*/
.logo{
    font-size: 30px;
    line-height: 30px;
    color: black;
}

/*文章标题*/
h1{
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
    font-weight: 400;
}

/*用户和文章卡片信息*/
.user-count, .article-count {
    display: inline-flex;
    flex-direction: column;
}

.count-number {
    font-size: 25px;
    font-weight: 550;
}

.count-char{
    font-size: 15px;
}


/* 文章内容 */
.md-content blockquote{
    padding: 20px;
    background-color: #F7F6F3 ;
}

.md-content code{
    display: block;
    padding: 20px;
    background-color: #F7F6F3 ;
}


/*    以下是文章内部的style*/
.md-content{
    /*整体内容的行高*/
    line-height: 26px;
}

/*二级标题*/
.md-content h2{
    margin: 15px 0;
    font-weight: 600;
    font-size: 30px;
}
/*三级标题*/
.md-content h3{
    margin: 15px 0;
    font-weight: 550;
    font-size: 25px;
}
/*段落*/
.md-content p{
    margin: 5px 0;
}

/*评论*/

/*评论的标题*/
.comment-area-title{
    border-bottom: 1px solid black;
}
.comment-title-chinese{
    font-size: 40px;
    font-family: Arial, sans-serif;
}
.comment-title-english{
    font: italic 22px/30px arial,sans-serif;
}

/*评论的内容*/
.comment-item{
    margin: 5px 0;
}
.comment-info{
    margin-top: 10px;
}
.comment-info-item{
    color: gray;
    margin-right: 20px;
}

