/* 清除浏览器默认样式 */
*{
    margin:0;
    padding:0;
}

/* 全局的a标签的初始状态 */
a:link, a:visited, a:hover, a:active{
    color: black;
    text-decoration: none;
}


/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}


/* 导航条 */
.nav{
    background-color: #2f2e34;
    color: white;
    font-size: 40px;
    padding: 5px 200px;

}
.nav a:link, .nav a:visited{
    color: white;
}

/* 标题 */
h1{
    padding: 15px 200px;
    margin: 20px;
    font-size: 45px;
    text-align: center;
}

/* 设置主体离两边的长度 */
.main{
    padding: 15px 200px;
    margin: 10px;
}

/* 功能列表的列表 */
.function-list{
	float: left;
    display: inline-block;
	margin: 0px 5px;
}

.operate-list{
    list-style-type: none;
}

.operate-list a{
    width: 120px;
    display: inline-block;
    padding: 15px 20px;
    border: #a39c9c solid 1px;
    text-align: center;
}

.operate-list a:hover{
    background-color: rgba(111, 128, 128, 0.418);
}

.operate-list a:active{
    background-color: rgba(86, 95, 95, 0.418);
}

/* 功能实现 */
.personal-info, .manage-articles{
	float: left;
	width: 80%;
	height: 600px;
	display: none;
}

.manage-articles{
	display: block;
}

.personal-info{
	text-align: center;
}

.personal-info>div{
	height: 50px;
	margin-bottom: 10px;
	
}

.personal-info>table{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	padding-left: 60px;
}

.personal-info td{
	width: 200px;
}

.personal-info input{
	height: 30px;
	width: 100%;
}

#edit-personal-info{
	margin: 20px auto;
}


/* 文章管理的表格 */
#article-list{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

/* 单元格属性 */
#article-list td, #article-list th{	
	border: 1px solid #c7cdd0;
	padding: 8px;
	text-align: center;
}

/* 隔行变色 */
#article-list tr:nth-child(even){background-color: #f2f2f2;}

/* 鼠标悬停突出显示 */
#article-list tr:hover {background-color: #ddd;}

/* 删除和编辑按钮 */
#article-list button{
	width: 50px;
	height: 30px;
	margin: 0px 5px;
	border-radius: 5px;
}

#edit-btn{
	color: white;
	background-color: #54ccff;
	border: #000;
}
#edit-btn:active{
	background-color: #2a98c0;
}

#del-btn{
	color: white;
	background-color: #d31f3a;
	border: #000;
}
#del-btn:active{
	background-color: #A52A2A;
}


.pagination{
	list-style-type: none;
	padding-left: 0;
	margin: 20px 0;
	display: inline-block;
}

#page-nav-bar nav{
	text-align: center;
}

.pagination>li{
	text-align: center;
	float: left;
	display: inline;
	padding: 5px 10px;
	border: 1px solid #989898;
}

.pagination>li:hover{
	background-color: #cfcfcf;
}

.pagination .active{
	background-color: #a6a6a6;
}

.pagination .disabled{
	pointer-events: none;
}


.manage-articles{
	display: none;
}

.personal-info{
	display: block;
}

